@model IEnumerable<MoravianMountainBikes.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Addressline1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Addressline2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Postcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Creditcardexpiry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Creditcardnumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Creditcardtype)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Emailaddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Loginpassword)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Addressline1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Addressline2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Postcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creditcardexpiry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creditcardnumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creditcardtype)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Emailaddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Loginpassword)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
